<section>
  <h1>Background sync</h1>
  <hr>
  <p>
    This page allows you to send a POST request to a mock backend. The POST request won't be directly
    executed by the website, but it will use the Background Sync API to tell the Service Worker
    to execute it when possible. When the POST request is made, a push notification will be sent to
    advise the user that everything went ok. This approach will allow to build a seamless experience for
    the user, that is able to send the request and then close the website, even if the request hasn't been
    executed yet.
  </p>

</section>
