<section>
  <h1>Background sync</h1>
  <hr>
  <p>
    This page allows you to send a POST request to a mock backend. The POST request won't be directly
    executed by the website, but it will use the Background Sync API to tell the Service Worker
    to execute it when possible. When the POST request is made, a push notification will be sent to
    advise the user that everything went ok. This approach will allow to build a seamless experience for
    the user, that is able to send the request and then close the website, even if the request hasn't been
    executed yet.
  </p>
  <p>First of all, press the button below to enable notifications</p>
  <button id="notifications-button"></button>
  <p>Then, press the button below to send a POST request to the back end</p>
  <button id="post-button"></button>
  <p>
    You should receive a notification when the POST request has been received and handled by the server.<br>
    To better understand how background sync works, you might also want to go offline,
    press the button to send the POST request, close the website and go back online. You will receive
    the notification as soon as the synchronization happens in the background.
  </p>
</section>
