<section>
  <h1>Home</h1>
  <hr>
  <p>Is it possible to write a Progressive Web App without using any library, framework and build tool? <strong>Yes, it
    is</strong>, and that's exactly what Vanilla PWA is. Of course it isn't meant to be used for an important project,
    since only a few browsers support the technologies used to build it, but it is a great way to understand how the
    great things modern frameworks provide work.</p>
  <p>These are the native modern technologies used in this PWA:</p>
  <ul>
    <li><a href="https://html.spec.whatwg.org/multipage/scripting.html#the-template-element" target="html-templates">HTML
      Templates</a></li>
    <li><a href="https://www.w3.org/TR/css-variables/" target="css-variables">CSS Variables</a></li>
    <li><a href="https://html.spec.whatwg.org/multipage/custom-elements.html" target="custom-elements">Custom
      Elements</a></li>
    <li><a href="https://dom.spec.whatwg.org/#shadow-trees" target="shadow-dom">Shadow DOM</a></li>
    <li><a href="https://html.spec.whatwg.org/multipage/webappapis.html#integration-with-the-javascript-module-system"
           target="es-modules">ES Modules</a></li>
    <li><a href="https://w3c.github.io/ServiceWorker" target="service-worker">Service Worker API</a></li>
    <li><a href="https://fetch.spec.whatwg.org" target="fetch">Fetch API</a></li>
    <li><a href="https://notifications.spec.whatwg.org" target="notifications">Notifications API</a></li>
    <li><a href="https://storage.spec.whatwg.org" target="storage">Storage API (Cache API, IndexedDB)</a></li>
    <li><a href="https://wicg.github.io/BackgroundSync/spec/" target="background-sync">Background Sync API</a></li>
    <li>
      Many ES6/7/8 features ([async functions](https://tc39.github.io/ecmascript-asyncawait/),
      [object rest/spread](https://tc39.github.io/proposal-object-rest-spread/), etc.)
    </li>
  </ul>
  <p>Take a look at its <a href="https://github.com/Dabolus/vanilla-pwa" target="source-code">source code</a> to check
    how the magic happens!</p>
</section>
