:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  --primary-color: #2e7d32;
  --accent-color: #d50000;
  --primary-text-on-primary: #fff;
  --secondary-text-on-primary: rgba(255, 255, 255, .75);
  --primary-text-color: rgba(0, 0, 0, .87);
  --secondary-text-color: rgba(0, 0, 0, .75);
  --divider-color: rgba(0, 0, 0, .12);
  --section-bg-color: #fefefe;
}

header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
}

header::after {
  position: absolute;
  right: 0;
  bottom: -.3125rem;
  left: 0;
  width: 100%;
  height: .3125rem;
  content: '';
  pointer-events: none;
  box-shadow: inset 0 .3125rem .375rem -.1875rem rgba(0, 0, 0, .4);
}

header > h1 {
  font-size: 1.5rem;
  color: var(--primary-text-on-primary);
}

nav {
  width: 100%;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}

nav > a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-text-on-primary);
  display: inline-block;
  padding: .5rem 1rem;
}

nav a[active] {
  color: var(--primary-text-on-primary);
  font-weight: bold;
  border-bottom: .1875rem solid var(--accent-color);
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

#spacing {
  flex: 1 1 auto;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--section-bg-color);
  color: var(--secondary-text-color);
  padding: 1.5rem;
}

footer::before {
  position: absolute;
  right: 0;
  top: -.3125rem;
  left: 0;
  width: 100%;
  height: .3125rem;
  content: '';
  pointer-events: none;
  box-shadow: inset 0 -.3125rem .375rem -.375rem rgba(0, 0, 0, .4);
}

footer a, footer b {
  color: var(--primary-text-color);
  font-weight: bold;
}

#update-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5rem 1.25rem;
  background-color: var(--section-bg-color);
  color: var(--primary-text-color);
  box-shadow: 0 .24rem .26rem 0 rgba(0, 0, 0, 0.14), 0 .012rem .6rem 0 rgba(0, 0, 0, 0.12), 0 .36rem .014rem -.26rem rgba(0, 0, 0, 0.2);
  will-change: transform;
  transform: translateY(100%);
  transition-property: visibility, transform;
  transition-duration: .3s;
  visibility: hidden;
}

#update-notification.active {
  visibility: visible;
  transform: translateY(0);
}

#update-notification .text {
  padding: .75rem 1.5rem .75rem .75rem;
  display: flex;
  align-items: center;
}

#update-notification .actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#update-notification .actions button {
  font-size: .875rem;
  font-weight: 500;
  padding: 0 8px 0 8px;
  min-width: 64px;
  height: 36px;
  color: var(--secondary-text-color);
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: .125rem;
  border: none;
  outline: none;
  cursor: pointer;
}

#update-notification .actions button:hover {
  text-decoration: underline;
}

#update-notification .actions button#update-now {
  color: var(--accent-color);
}

@media (min-width: 640px) {
  #update-notification {
    width: 20rem;
    margin: auto;
    border-radius: .5rem .5rem 0 0;
  }
}
