<header>
  <h1>Vanilla PWA</h1>
  <svg role="button" id="theme-selector" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
        d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5H16c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5S5.67 9 6.5 9 8 9.67 8 10.5 7.33 12 6.5 12zm3-4C8.67 8 8 7.33 8 6.5S8.67 5 9.5 5s1.5.67 1.5 1.5S10.33 8 9.5 8zm5 0c-.83 0-1.5-.67-1.5-1.5S13.67 5 14.5 5s1.5.67 1.5 1.5S15.33 8 14.5 8zm3 4c-.83 0-1.5-.67-1.5-1.5S16.67 9 17.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
  </svg>
  <nav>
    <a href="/home">Home</a>
    <a href="/dynamic-data">Dynamic data</a>
    <a href="/background-sync">Background sync</a>
  </nav>
</header>
<main>
  <my-home></my-home>
  <my-dynamic-data></my-dynamic-data>
  <my-background-sync></my-background-sync>
</main>
<div id="spacing"></div>
<footer>
  <div>Brought to you with <b>❤</b> by <a href="https://dabolus.app" target="dabolus-website">Dabolus</a></div>
</footer>
<div id="themes-dialog" role="dialog">
  <div class="modal">
    <div class="title">Choose a theme</div>
    <ul id="themes">
      <li data-theme="light">Light</li>
      <li data-theme="dark">Dark</li>
      <li data-theme="negative">Negative</li>
      <li data-theme="grayscale">Grayscale</li>
      <li data-theme="sepia">Sepia</li>
      <li data-theme="hdr">HDR</li>
    </ul>
  </div>
</div>
<div id="update-notification" role="alert">
  <div class="text">Update available!</div>
  <div class="actions">
    <button id="ignore">Ignore</button>
    <button id="update-now">Update now</button>
  </div>
</div>
<svg role="button" id="share-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <path
      d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/>
</svg>
