<header>
  <h1>Vanilla PWA</h1>
  <nav>
    <a href="/home">Home</a>
    <a href="/info">Info</a>
  </nav>
</header>
<main>
  <my-home></my-home>
  <my-info></my-info>
</main>
<div id="spacing"></div>
<footer>
  <div>Brought to you with <b>❤</b> by <a href="https://dabolus.app" target="dabolus-website">Dabolus</a></div>
</footer>
<div id="update-notification">
  <div class="text">Update available!</div>
  <div class="actions">
    <button id="ignore">Ignore</button>
    <button id="update-now">Update now</button>
  </div>
</div>
