#data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: auto;
  margin: 2rem;
  border-radius: .5rem;
  box-shadow: 0 .06rem .065rem 0 rgba(0, 0, 0, 0.14), 0 .003rem .15rem 0 rgba(0, 0, 0, 0.12), 0 .09rem .0035rem -.065rem rgba(0, 0, 0, 0.2);
  background: var(--section-bg-color);
  color: var(--primary-text-color);
}

article div {
  padding: 1rem;
}

article img {
  width: 16rem;
  height: 16rem;
  border-radius: .5rem .5rem 0 0;
}

article h2 {
  font-size: 1.1rem;
}

article span {
  font-weight: 100;
}

article h2, article span {
  margin: .5rem 0;
}
